<div class="robot-profile">
  <img src="{{avatar}}" alt="{{name}}">
  <article class="right-side">
  <h1>{{name}}</h1>
  <p>{{job}} {{company}}{{^company}}Available for Hire{{/company}}</p>
  </article>
</div>
