<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <header>
      <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/unemployedbots">Unemployed</a></li>
        <li><a href="/employedbots">Employed</a></li>
      </ul>
    </header>
    <div class="container">
      {{#robots}}
        {{>robot}}
      {{/robots}}
      {{^robots}}
         <p>sorry no robots</p>
      {{/robots}}
    </div>
  </body>
</html>
